body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #new-task {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 10px;
  }
  
  #add-task-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
  }
  
  .todo-item label {
    cursor: pointer;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #aaa;
  }

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #415a77;
    font-weight: 300;
}

#spsp {
    font-weight: 500;
    cursor: pointer;
}

  
